body{
    font-family: Arial, serif;
}
.map, .large, .flag{
    height: 200px;
    width: auto;
}
.images table{
    border: none;
}
.sub-data, .sub-data td{
    padding: 4px;
    border: 1px solid black;
}
.sub-data{
    margin: auto;
    border-collapse: collapse;
}
article{
    width: 80%;
    margin: auto;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
p::first-letter,
nav ul li::first-letter,
.sub-data td::first-letter{
    text-transform: uppercase;
}


nav ul{

    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    padding: 10px 0;
    text-align: center;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;

}
nav ul li:hover {
    background-color: red;
}
p, .sub-data td{
    font-family: Times, serif;
}
p{
    text-align: justify;
}

section{
    border-radius: 10px;
    background-color: azure;
}

.big-menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.big-menu ul li{
    display: flex;
    flex: fit-content;
    flex-direction: column;
    list-style: none;

}
.big-menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font: 30px Arial,Serif black;
    overflow:hidden;
}
.big-menu ul li img{
    max-width: 400px;
    max-height: 200px;
    float: none;
}
